<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ImageUpload</servlet-name>
        <servlet-class>imageUpload.ImageUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItem</servlet-name>
        <servlet-class>adminServlet.AddItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SinglItem</servlet-name>
        <servlet-class>servlet.SinglItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterCusServelt</servlet-name>
        <servlet-class>servlet.RegisterCusServelt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginVerify</servlet-name>
        <servlet-class>util.LoginVerify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogServelt</servlet-name>
        <servlet-class>servlet.LogServelt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingCart</servlet-name>
        <servlet-class>servlet.ShoppingCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartList</servlet-name>
        <servlet-class>servlet.RemoveCartList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetch_data</servlet-name>
        <servlet-class>servlet.fetch_data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>servlet.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>oderetail</servlet-name>
        <servlet-class>servlet.oderetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeStatus</servlet-name>
        <servlet-class>servlet.changeStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>serachTableProdcut</servlet-name>
        <servlet-class>servlet.serachTableProdcut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImageUpload</servlet-name>
        <url-pattern>/ImageUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItem</servlet-name>
        <url-pattern>/AddpRODUCTS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SinglItem</servlet-name>
        <url-pattern>/SinglItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterCusServelt</servlet-name>
        <url-pattern>/RegisterCusServelt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginVerify</servlet-name>
        <url-pattern>/LoginVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogServelt</servlet-name>
        <url-pattern>/LogServelt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingCart</servlet-name>
        <url-pattern>/ShoppingCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartList</servlet-name>
        <url-pattern>/RemoveCartList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetch_data</servlet-name>
        <url-pattern>/fetch_data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>oderetail</servlet-name>
        <url-pattern>/oderetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeStatus</servlet-name>
        <url-pattern>/changeStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>serachTableProdcut</servlet-name>
        <url-pattern>/serachTableProdcut</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
</web-app>
